{% extends "base.html" %}

{% block content %}
<header class="main_header">     
    <h1 class="main_logo">Rock Paper Scissors</h1>
    <form name="main_header_button_form" method="post">
        <button class="main_header_button" name="main_header_button_play" type='submit'>Play</button>
    </form>
</header>


<main class="main_mainblock">
    <div class="main_block_content">
        <h1 class="main_content_text">ROCK PAPER SCISSORS</h1>
        <p class="main_content_text">WEB GAME</p>
    </div>
</main>
{% endblock %}