{% extends "base.html" %}
<link rel="stylesheet" href="../static/css/styles.css">
{% block content %}
<header class="profile_header">
    <img src="{{ picture }}" class="Avatar">
    <label class="profile_header_label">{{ user_login }}</label>
    <form method="post">
        <button class="profile_header_button" name="profile_button_return">BACK</button>
    </form>
    <form method="post">
        <button class="profile_header_button" name="profile_button_logout">LOGOUT</button>
    </form>

    <form class="profile_file_input_form" action="{{ url_for('upload') }}" method="post" enctype=multipart/form-data>
        <input class="profile_file_input" id="image" type="file" id="image" name="file" accept=".jpg, .jpeg, .png">
        <label class="profile_file_input_label2" for="image">AVATAR</label>
        <input class="NotesFormFileButton" type=submit value="Сохранить">
    </form>
</header>

<main class="profile_main">
    <div class="profile_stats">
        <div class="profile_stats_block1">     
            <div class="profile_stats_block">
                <label class="profile_stats_parametres">DRAWS</label>
                <p class="profile_stats_parametres">{{ stats2 }}</p>
            </div>

            <div class="profile_stats_block">
                <label class="profile_stats_parametres">WINS</label>
                <p class="profile_stats_parametres">{{ stats1 }}</p>
            </div>

            <div class="profile_stats_block">
                <label class="profile_stats_parametres">LOSES</label>
                <p class="profile_stats_parametres">{{ stats3 }}</p>
            </div>
        </div>

        <div class="profile_stats_block2">
            <div class="profile_stats_block">
                <label class="profile_stats_parametres">KD</label>
                <p class="profile_stats_parametres">{{ stats5 }}</p>
            </div>
            <div class="profile_stats_block">
                <label class="profile_stats_parametres">GAMES</label>
                <p class="profile_stats_parametres">{{ stats4 }}</p>
            </div>
        </div>
    </div>

    <div class="profile_block_fact">
        <label class="profile_block_fact_label">Интересный Факт!</label>
        <div class="profile_block_fact_description">
            <p class="description"> {{ fact }}</p>
        </div>
    </div>
</main>
{% endblock %}